@model Jarvis_Phase3.Models.NestVM

<div class="table-responsive">
    <table class="table">
        <tr class="panel-heading">
            <td>
                @Html.Raw("Device")
            </td>
            <td>
                @Html.Raw("Online")
            </td>
            <td>
                @Html.Raw("Streaming")
            </td>
        </tr>
        @foreach (var item in Model.cameraVMs)
        {
            <tr class="panel-heading">
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Long)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_Online)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_Streaming)
                </td>
            </tr>
        }
    </table>
</div>
