@model Jarvis_Phase3.Models.NestVM

@{
    ViewBag.Title = "DeviceManager";
}

<style>
    body {
        width: 80%;
        margin: 0 10px 0 10px;
    }

    #graph {
        width: auto;
        height: auto;
        margin: 20px auto 0 auto;
    }

    pre {
        height: 250px;
        overflow: auto;
    }
</style>
<ol class="breadcrumb">
    <li class="active">
        <i class="fa fa-plug"></i> Devices
    </li>
</ol>
    <div id="line_graph"></div>
<table>
    <thead>
        @Html.Raw("Thermostats")
    </thead>
    <tr>
        <th>
            @Html.Raw("Current Temperature")
        </th>
        <th>
            @Html.Raw("Target Temperature")
        </th>
        <th>
            @Html.Raw("Device Name")
        </th>
        <th>
            @Html.Raw("Device Id")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.thermostatVMs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Current_Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Target_Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Long)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Device_Id)
            </td>
        </tr>
    }
</table>





<script>
    line_graph();
    prettyPrint();

    function line_graph() {

  //      var day_data = [
  //{ "period": "2012-10-01", "licensed": 1407, "sorned": 160 },
  //{ "period": "2012-09-30", "licensed": 3351, "sorned": 629 },
  //{ "period": "2012-09-29", "licensed": 3269, "sorned": 618 },
  //{ "period": "2012-09-20", "licensed": 2246, "sorned": 261 },
  //{ "period": "2012-09-19", "licensed": 3257, "sorned": 667 },
  //{ "period": "2012-09-18", "licensed": 3248, "sorned": 627 },
  //{ "period": "2012-09-17", "licensed": 371, "sorned": 60 },
  //{ "period": "2012-09-16", "licensed": 3171, "sorned": 676 },
  //{ "period": "2012-09-15", "licensed": 5201, "sorned": 956 },
  //{ "period": "2012-09-10", "licensed": 3215, "sorned": 622 }
  //      ];


        @{int count = 0;}
        var day_data = [
            @foreach (var item in Model.thermostatVMs)
            {

                @Html.Raw("{ 'period':" + " '2012-10-01'," + " 'licensed': " +  @Html.DisplayFor(modelItem => item.Current_Temperature) + ", sorned: " + @Html.DisplayFor(modelItem => item.Current_Temperature) + "},");


            }

        ]
                                     @(count++)

        Morris.Line({
            element: 'line_graph',
            data: day_data,
            xkey: 'period',
            ykeys: ['licensed', 'sorned'],
            labels: ['Licensed', 'SORN']
        });
    }

</script>


