@model Jarvis_Phase3.Models.EditableUser

@{
    ViewBag.Title = "AccountView";
    Layout = "~/Views/Shared/_ConsumerDashboardTheme.cshtml";
}

@section Styles{
    <style>
        .text-right {
            color: white;
            margin-top: 16px;
            font-size: 24px;

        }
         .text-right a {
            color: white;
            font-size: 20px;
         }

         .text-right i {
            font-size: 24px;
         }

    </style>
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-red">
            <div class="panel-heading clearfix">
                <h3 class="col-sm-8">Profile </h3>
                <div class="col-sm-4 text-right">
                    <a href="@Url.Action("EditAccount", "Accounts", null )">Edit  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
                </div>
                <table class="table table-condensed table-responsive">
                    <tr>
                        <td>                    
                            <ul>
                                <li>User Name: @Model.UserName</li>
                                <li>First Name: @Model.FirstName </li>
                                <li>Last Name: @Model.LastName </li>
                                <li>Email: @Model.Email</li>
                            </ul>
                        </td>
                    </tr>
                </table>          
            </div>
        </div>   
     </div>
