
@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_DashBoardTheme.cshtml";
}

@section Nav {
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <a class="" href="@Url.Action("Index", "home")">
        <img class="pull-left logo" src="~/images/logov1.png">
    </a>
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Jarvis", "Index", "Home", new { area = "" }, new { @class = "navbar-brand page-scroll" })
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
                - will have to change which items are disaplyed vased on the role of the logged in user
            -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="@Url.Action("ConsumerDashboard")"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("AccountView")"><i class="fa fa-fw fa-user"></i> Account </a>
                </li>
                <li>
                    <a href="@Url.Action("RegisteredDevices")"><i class="fa fa-fw fa-plug"></i> Devices </a>
                </li>
                <li>
                    <a href="@Url.Action("Insights")"><i class="fa fa-fw fa-lightbulb-o"></i> Insights</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>
}


<div class="row">
    <p>@DateTime.Now.ToString("F")</p>
    <div class="col-sm-8 page-content">
        <h2 style="margin-bottom: 40px; margin-left: 10px;">@Html.Raw(ViewBag.Title)</h2>
        <p>@DateTime.Now.ToString("F")</p>
        <div class="col-sm-6">
            <h3> Manage Consumer Accounts </h3>
            <ul>
                <li>@Html.ActionLink("View all Consumer Accounts", "ViewAllConsumerAccounts")</li>
                <li> Sign into Consumer Account </li>
                <li> Create a new Consumer Account </li>
                <li> Update a  Consumer Account Info </li>
                <li> Delete a Consumer Account </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3> Manage Providers </h3>
            <ul>
                <li> View all Providers </li>
                <li> Sign into Provider Account </li>
                <li> Create a new Provider Account </li>
                <li> Edit a Provider Account Info </li>
                <li> Delete a Provider Account </li>
            </ul>
        </div>
    </div>

    <div style="padding-left:20px; border-left: 1px solid #333;" class="col-sm-4 side-bar">
        <div class="col-sm-12">

            @Html.ActionLink("Admin Dashboard", "AdminDashboard", null, new { @class = "btn btn-default btn-lg btn-block" })
            @Html.ActionLink("Register Providers", "RegisterDevices", null, new { @class = "btn btn-default btn-lg btn-block" })
            @Html.ActionLink("Data View", "Data", null, new { @class = "btn btn-default btn-lg btn-block" })
            @Html.ActionLink("Account View", "ViewAllConsumerAccounts", null, new { @class = "btn btn-default btn-lg btn-block" })
            @Html.ActionLink("AddRole", "AddRole", null, new { @class = "btn btn-default btn-lg btn-block" })
            @Html.ActionLink("AddUserToRole", "AddUserToRole", null, new { @class = "btn btn-default btn-lg btn-block" })
        </div>
    </div>
</div>


