@model IEnumerable<Jarvis_Phase3.Models.EditableUser>

@{
    ViewBag.Title = "ViewAllConsumerAccounts";
    Layout = "~/Views/Shared/_AdminDashBoardTheme.cshtml";
}

<h2>Consumer Accounts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "AdminAccountView", "Accounts" , new { id = item.ID }, null) |           
            @Html.ActionLink("Delete", "DeleteAccount", "Accounts" , new { id=item.ID }, null)
        </td>
    </tr>
}

</table>
